@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0e0e11;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;

}


.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    background-color: #0e0e11;
}

.menu li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #0e0e11;;
    
}
.menu li a {
    transition: all 0.3s ease 0s;
    background-color: #0e0e11;;
    
}
.menu li a:hover {
    color: #03637b;
    
}


.fondo {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/fondo_gato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 836px;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}

.texto-fondo {
    padding: 270px ;
    background-color: transparent;
    color: #edf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-titulo {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-weight: 500;
    font-size: 75px;
    text-shadow: 10px 10px 10px #000000;
}
.texto-titulo-2 {
    margin-top: 20px;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-weight: 500;
    font-size: 50px;
    text-shadow: 10px 10px 10px #000000;
}

.galeria {
    background-color: #0e0e11;
}

.contenedor-galeria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #0e0e11;
    
}
.contenedor-galeria img {
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    background-color: #0e0e11;
}

.titulo-galeria {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-weight: 500;
    font-size: 75px;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    margin-top: 20px;
    background-color: #0e0e11;
}

.contacto {
    background-color: #0e0e11;
    color: #edf0f1;
}
.titulo-contacto {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
    font-weight: 500;
    font-size: 75px;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0e0e11;
}
.formulario {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.input {
    background: transparent;
    border: 0;
    outline: none;
    border: 2px solid white;
    padding: 20px 10px;
    font-size: 20px;
    color: white;
}
.input-ancho {
    width: 48.5%;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 30px;
}
.textarea-ancho {
    width: 98%;
    margin-bottom: 30px;
    border-radius: 30px;
}
.input::placeholder {
    color: azure;
    font-family: 'Montserrat', sans-serif;
}
.boton {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 30px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 30px;

}

.boton:hover {
    background-color: rgba(0,136,169,0.8);
}

.texto-footer{
    font-size: 20px;
    color: rgb(121, 121, 121);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin-left: 15px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;

}

.icono {
    color: white;
}

.margen-icon {
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    font-size: 25px;
    overflow: auto;
    justify-content: left;
    display: flex;
}



